data/__pycache__/
data/OpenFaceBin/
data/release/
data/vox2_test_mp4/
data/vox2_mp4/
data/OpenFace-master/
wingPro7.wpr
wingPro7.wpu
**__pycache__/
data/id0*
data/VGG_FACE.t7
**.ipynb_checkpoints/
research-ms-loss-master/obj/
**/*.pkl
data/.nfs*
baseline/results*
